html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: Montserrat, sans-serif;
    background-image: url("../image/background.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}